@import "tailwindcss";

button {
    @apply cursor-pointer;
}

* {
    box-sizing: border-box;
}

.plyr {
    @apply bg-black text-black rounded-lg shadow-lg w-full;
}

.plyr__controls {
  @apply bg-gray-800 rounded-md p-2;
}

.plyr__control {
  @apply text-white hover:bg-gray-700 rounded;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 4px;
  }
}

:root {
  --plyr-color-main: black;
  --plyr-control-radius: 0.375rem;
}